.picture { 
	width: 100%; 
	height: 300px;
}


.a {
	font-family: 'Cairo', sans-serif;
	font-size: 80px;
	animation: flicker 1.5s infinite alternate;
    color: #fff;
    width: 100%;

}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #B026FF,
      0 0 11px #B026FF,
      0 0 19px #B026FF,
      0 0 40px #B026FF,
      0 0 80px #B026FF,
      0 0 90px #B026FF,
      0 0 100px #B026FF,
      0 0 150px #B026FF;
  
}
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.b {
  color: #fff;
  text-shadow:
    0 0 7px #1F51FF,
    0 0 10px #1F51FF,
    0 0 21px #1F51FF,
    0 0 42px #1F51FF,
    0 0 82px #1F51FF,
    0 0 92px #1F51FF,
    0 0 102px #1F51FF,
    0 0 151px #1F51FF;
	font-size: 40px;
	font-family: 'Cairo', sans-serif;
}

body {
  background-image: url("back.gif");
}

::-webkit-scrollbar {
	width: 0;
}

@media only screen and (max-width: 700px){
	.a {
		font-size: 30px;

	}
    
	.b {
		font-size: 20px;
	}

	iframe{
		width: 100%;
	}
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

a {
  position: relative;
  text-decoration: none;
  color: #a0a0a0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
}

a:after{
  content: "";
  position: absolute;
  background-color: #B026ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover{
  color: white;
}

a:hover:after {
  width: 100%;
}
